.loading{
    position: fixed; /* Stay in place */
  z-index: 10 ; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
    margin: auto;
    padding: 40px;
    width: 80%;
    text-align: center;
  }