.makeStyles-drawerPaper-7 .makeStyles-toolbar-6{
    background-image: url(./logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.MuiList-padding{
    padding: 0px;
}