/* Base */
body {
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 300;
    font-size: 1rem; }
  
  ::-moz-selection {
    background: #000;
    color: #fff; }
  
  ::selection {
    background: #000;
    color: #fff; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a:hover {
      text-decoration: none; }
  
  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5 {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  
  .border-2 {
    border-width: 2px; }
  
  .text-black {
    color: #000 !important; }
  
  .bg-black {
    background: #000 !important; }
   
  .color-black-opacity-5{
    color: rgba(0, 0, 0, 0.5); }
  
  .color-white-opacity-5 {
    color: rgba(255, 255, 255, 0.5); }
  
  .site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  width: 100%; }
  .site-navbar.transparent {
  background: transparent; }
  .site-navbar.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .site-navbar .site-logo {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -20px; }
  .site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid #f3f3f4 !important; }
  .site-navbar .site-navigation .site-menu {
  margin-bottom: 0; }
  .site-navbar .site-navigation .site-menu .active > a {
  color: #f89d13; }
  .site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px; }
  .site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  padding: 10px 10px; }
  .site-navbar .site-navigation .site-menu > li > a {
  padding: 10px 0px;
  color: #fff;
  text-decoration: none !important; }
  .site-navbar .site-navigation .site-menu > li > a:hover {
  color: #f89d13; }
  .site-navbar .site-navigation .site-menu .has-children {
  position: relative; }
  .site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px; }
  .site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon'; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #f89d13;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #f89d13 !important; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #f4f5f9;
  color: #25262a; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #f4f5f9;
  color: #25262a; }
  .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #f89d13; }
  .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer; }
  .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1; }
    
  
              
  
              .site-blocks-cover {
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: top;
                  background-position: center center; }
                  .site-blocks-cover.overlay {
                    position: relative; }
                    .site-blocks-cover.overlay:before {
                      position: absolute;
                      content: "";
                      left: 0;
                      bottom: 0;
                      right: 0;
                      top: 0;
                      background: rgba(0, 0, 0, 0.4); }
                  .site-blocks-cover .player {
                    position: absolute;
                    bottom: -250px;
                    width: 100%; }
                  .site-blocks-cover, .site-blocks-cover .row {
                    min-height: 600px;
                    height: calc(100vh); }
                  .site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover .row {
                    min-height: 600px;
                    height: calc(30vh); }
                  .site-blocks-cover h1 {
                    font-size: 4rem;
                    font-weight: 900;
                    color: #fff; }
                    @media (max-width: 991.98px) {
                      .site-blocks-cover h1 {
                        font-size: 2rem; } }
                  .site-blocks-cover p {
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 1.2rem;
                    line-height: 1.5; }
                  .site-blocks-cover .btn {
                    border: 2px solid transparent; }
                    .site-blocks-cover .btn:hover {
                      color: #fff !important;
                      background: none;
                      border: 2px solid #fff; }
                  .site-blocks-cover .intro-text {
                    font-size: 16px;
                    line-height: 1.5; }
                  @media (max-width: 991.98px) {
                    .site-blocks-cover .display-1 {
                      font-size: 3rem; } }
                
                .site-block-subscribe .btn {
                  padding-left: 20px;
                  padding-right: 20px; }
                
                .site-block-subscribe .form-control {
                  font-weight: 300;
                  border-color: #fff !important;
                  height: 80px;
                  font-size: 22px;
                  color: #fff;
                  padding-left: 30px;
                  padding-right: 30px; }
                  .site-block-subscribe .form-control::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: rgba(255, 255, 255, 0.5);
                    font-weight: 200;
                    font-style: italic; }
                  .site-block-subscribe .form-control::-moz-placeholder {
                    /* Firefox 19+ */
                    color: rgba(255, 255, 255, 0.5);
                    font-weight: 200;
                    font-style: italic; }
                  .site-block-subscribe .form-control:-ms-input-placeholder {
                    /* IE 10+ */
                    color: rgba(255, 255, 255, 0.5);
                    font-weight: 200;
                    font-style: italic; }
                  .site-block-subscribe .form-control:-moz-placeholder {
                    /* Firefox 18- */
                    color: rgba(255, 255, 255, 0.5);
                    font-weight: 200;
                    font-style: italic; }
                
  
          
  .topnav {
  overflow: hidden;
  background-color:rgba(138, 138, 133,0);
  }
  
  .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  
  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }
  
  .topnav a.active {
  background-color: #4CAF50;
  color: white;
  }
  
  .landing-page-image{
  width: 30px;
  }  
  
  
  .site-footer {
  padding: 4em 0;
  background: #333333; }
  @media (min-width: 768px) {
      .site-footer {
      padding: 8em 0; } }
  .site-footer .border-top {
      border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
  .site-footer p {
      color: #737373; }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
      color: #fff; }
  .site-footer a {
      color: #999999; }
      .site-footer a:hover {
      color: white; }
  .site-footer ul li {
      margin-bottom: 10px; }
  .site-footer .footer-heading {
      font-size: 16px;
      color: #fff;
      }
  
  
  .site-section {
    padding: 2.5em 0; }
    @media (min-width: 768px) {
      .site-section {
        padding: 5em 0; } }
    .site-section.site-section-sm {
      padding: 4em 0; }
  
  .site-section-heading {
    position: relative;
    font-size: 2.5rem; }
    @media (min-width: 768px) {
      .site-section-heading {
        font-size: 4rem; } }
    .site-section-heading:after {
      content: "";
      left: 0%;
      bottom: 0;
      position: absolute;
      width: 100px;
      height: 1px;
      background: #f89d13; }
    .site-section-heading.text-center:after {
      content: "";
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      content: "";
      left: 50%;
      bottom: 0;
      position: absolute;
      width: 100px;
      height: 1px;
      background: #f89d13; }
      
  .container {
  position: relative;}
  /* 
  .row {
      min-height: 600px;
      height: calc(30vh);
   }         */
   .hero_bg{
    background-image: url(./hero_bg_1.jpg);
  }
  .parallax {
  /* The image used */
  background-image: url(./hero_bg_1.jpg);
  
  /* Set a specific height */
  min-height: 500px; 
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  /* rgba(153, 151, 151, 0.422) */
  /* style the container */
  .container-1 {
    position: relative;
    border-radius: 5px;
    
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
    height:60%;
    width:45%;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-row-gap: 2em ;
    /* flex-wrap: wrap; */
    /* align-content:space-around; */
    /* justify-content: space-between; */
    
  } 
  .flex-cont{
    
      display: flex;
      margin-top: 10%;
      height: 660px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      /* background-color: #4CAF50; */
  }

  
  
  /* style inputs and link buttons */
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
  }
  
  /* add appropriate colors to fb, twitter and google buttons */
  .fb {
    background-color: #3B5998;
    color: white;
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
  }
  
  /* style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Two-column layout */
  .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* vertical line */
  .vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
  }
  
  /* text inside the vertical line */
  .vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
  }
  
  /* hide some text on medium and large screens */
  .hide-md-lg {
    display: none;
  }
  
  /* bottom container */
  .bottom-container {
    text-align: center;
    background-color: rgb(85, 84, 84);
    border-radius: 0px 0px 4px 4px;
  }
  
  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
      display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
      display: block;
      text-align: center;
    }
  }